@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--txt-color);
  font-family: 'Lato';
}
:root {
  --txt-color: #fff;
  --txt-red: #d91a1a;
  --bg-yellow: #fbb901;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  /* border: 2px solid blue; */
  cursor: default;
  user-select: none;
  border-radius: 1.5rem;
  background: transparent;
  min-width: 30rem;
  min-height: 20rem;
  overflow: hidden;
  transition: all ease 1s;
}
.hero:hover {
  background: #d91a1a;
}
.counterHeading {
  /* border: 2px solid green; */
  padding: 1rem 2rem;
  position: relative;
}
.counterHeading h2 {
  /* background: greenyellow; */
  color: var(--txt-red);
  font-size: 3.5rem;
  font-weight: 750;
  line-height: 1.5;
  text-align: center;
}
.counterHeading .bannerBtn {
  background: var(--bg-yellow);
  position: absolute;
  top: 7px;
  right: -40px;
  font-size: 1.8rem;
  padding: 0.25rem 4rem;
  padding-bottom: 0.5rem;
  transform: rotate(45deg);
}
.counterHeading .bannerBtn:hover {
  cursor: pointer;
}
.hero:hover .counterHeading .bannerBtn {
  background: linear-gradient(to top right, #c9ddf3, #6666d8);
  box-shadow: 1px 1px 3px #000;
}
.bannerBtn p {
  text-align: center;
  color: #6d0f0f;
  font-weight: 700;
}
.bannerBtn a {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 800;
  color: #6d0f0f;
}
.hero:hover .bannerBtn p,
.hero:hover .bannerBtn a {
  color: #000;
}
.counterMain {
  /* border: 2px solid black; */
  display: flex;
  padding: 2rem 0;
}
.counterMain > div {
  border-right: 1px solid white;
  /* background: rgb(48, 48, 228); */
  padding: 0.25rem 1.5rem;
  font-size: 5rem;
  font-weight: 800;
  display: block;
  margin: auto;
}
.counterMain .secondsWraper {
  border-right: none;
}
.counterMain > div span {
  text-align: center;
  color: var(--txt-red);
}
.hero:hover .counterHeading h2,
.hero:hover .counterMain > div span,
.hero:hover .counterFooter {
  color: var(--txt-color);
}
.counterMain > div .ref {
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
}

.counterFooter {
  /* border: 2px solid yellow; */
  color: var(--txt-red);
  border-top: 2px solid rgba(255, 255, 255, 0.32);
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
}
